
/*
 * Note: your browser may not support the markup you had in mind for your
 * option lists. Firefox is generally good. In Chrome and Safari colours tend
 * to work, but font styles are often ignored.
 */
.option-parent {
  font-weight: bolder;
  color: grey;
  background-color: lightblue !important;
}
.option-child {
  font-weight: normal;
  color: grey !important;
  background-color: white;
}
select.with-style option[selected="selected"] {
  font-style: italic;
}

