/* Tablet portrait */
#page {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
#site-name {
  font-size: 1.6em;
  padding: 22px 0 0;
}
#header {
  max-height: 1000px;
  padding: 0;
  background-image: none;
}
#branding,
#header .region-header {
  float: none;
  background: transparent !important;
  max-height: 1000px;
  width: 100%;
  clear: both;
  margin: 10px 0;
}
#header .header-inner {
  padding-bottom: 5px;
}
#menu-bar .block {
  clear: both;
  float: none;
}
#menu-bar .menu-wrapper > ul > li {
  width: 49%;
  float: left;
  margin-bottom: 1px;
}